{% extends 'back.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="">Tableau de bord</a> </li>
        <li class=" breadcrumb-item active"> Liste des categories </li>
    </ol>
{% endblock %}

{% block body %}


    <h3>Liste des categories</h3>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ path('admin_category_new') }}"> <i class="fa fa-plus"></i> Nouvelle categorie</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        
            <tr>
                <td><a href="{{ path('admin_category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td nowrap="nowrap">{{ category.libelle }}</td>
                <td nowrap="nowrap">{{ category.slug }}</td>
                <td>{{ category.description | slice(0,80) }} ... </td>
                <td nowrap="nowrap">
                    <a class="btn btn-secondary" href="{{ path('admin_category_show', { 'id': category.id }) }}"> <i class="fa fa-search"></i> </a>
                    <a class="btn btn-danger" href="{{ path('admin_category_edit', { 'id': category.id }) }}"> <i class="fa fa-edit"></i></a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(categories) }}
</div>
   
{% endblock %}
