{% extends 'back.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="">Tableau de bord</a> </li>
        <li class=" breadcrumb-item active"> <a href="">Liste des categories</a> </li>
        <li class=" breadcrumb-item active"> Ajouter nouvelle categorie</li>
    </ol>
{% endblock %}
{% block body %}
    <h3>Nouvelle categorie</h3>

    {{ form_start(form) }}
       {% set has_danger_lib =  (form.libelle.vars.errors | length > 0) ? 'has-danger' : ''%}
       {% set is_invalid_lib =  (form.libelle.vars.errors | length > 0) ? 'form-control  is-invalid' : 'form-control'%}
       {% set has_danger_slug =  (form.slug.vars.errors | length > 0) ? 'has-danger' : ''%}
       {% set is_invalid_slug =  (form.slug.vars.errors | length > 0) ? 'form-control  is-invalid' : 'form-control'%}
       {% set has_danger_dsc =  (form.description.vars.errors | length > 0) ? 'has-danger' : ''%}
       {% set is_invalid_dsc =  (form.description.vars.errors | length > 0) ? 'form-control  is-invalid' : 'form-control'%}
       
       
        <div class="form-group {{ has_danger_lib }}">
            {{ form_row(form.libelle, {'required':false,'attr': {'class' :  is_invalid_lib  } }) }}
        </div>
        <div class="form-group {{ has_danger_slug }}">
            {{ form_row(form.slug, {'required':false,'attr': {'class' : is_invalid_slug} }) }}
        </div>
        <div class="form-group {{ has_danger_dsc }}">
            {{ form_row(form.description, {'required':false,'attr': {'class' : is_invalid_dsc} }) }}
        </div>
         

        <input class="btn btn-primary" type="submit" value="Enregister" />
        <a class="btn btn-secondary" href="{{ path('admin_category_index') }}">Retour</a>
    {{ form_end(form) }}

{% endblock %}
