{% extends 'back.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="">Tableau de bord</a> </li>
        <li class="breadcrumb-item"> <a href="{{ path('admin_category_index') }}">Liste des categories</a> </li>
        <li class="breadcrumb-item active"> {{ category.libelle }}</li>
    </ol>
{% endblock %}

{% block body %}

<div class="card border-secondary mb-3">
  <div class="card-header"> <h3>{{ category.libelle }}</h3> </div>
  <div class="card-body">
    <h5 class="card-title">{{ category.slug }}</h5>
    <p class="card-text"> {{ category.description }} </p>
    <small>
            Cree le : {% if category.createdAt %}{{ category.createdAt|date('Y-m-d H:i:s') }}{% endif %} <br>
            Modifie le : {% if category.createdAt %}{{ category.createdAt|date('Y-m-d H:i:s') }}{% endif %}
    </small>
  </div>
</div>
    
    <a class="btn btn-secondary" href="{{ path('admin_category_index') }}">Retour</a>

    <a class="btn btn-warning" href="{{ path('admin_category_edit', { 'id': category.id }) }}">Editer</a>
      
{% endblock %}
