{% extends "base.html.twig" %}

{% block body %}
<section class="hero is-primary is-bold">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Contactez nous
				</h1>
				<h2 class="subtitle">
					Merci de laissez votre message
				</h2>
			</div>
		</div>
	</section>

	<hr>

	<div class="container">
		<div class="columns">
			<div class="column is-offset-one-quarter is-half">
            {{ form_start(form) }}
				<div class="field">
					{{ form_label(form.from, null, {'label_attr' : {'class': 'label'}}) }}
					<div class="control">
						{{ form_widget(form.from, {'attr' : {'class': 'input'}}) }}
					</div>
				</div>

				<div class="field">
					{{ form_label(form.subject, null, {'label_attr' : {'class': 'label'}}) }}
					<div class="control">
						{{ form_widget(form.subject, {'attr' : {'class': 'input'}}) }}
					</div>
				</div>

				<div class="field">
					{{ form_label(form.body, null, {'label_attr' : {'class': 'label'}}) }}
					<div class="control">
						{{ form_widget(form.body, {'attr' : {'class': 'input'}}) }}
					</div>
				</div>

				<div>
					<input class="button is-primary" type="submit" value="Envoyer"/>
				</div>
            {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
